{#
 # News entry template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
	<section class="container">
		<div class="row">
	<article class="col-8">
		<h1>{{ entry.title }}</h1>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		{{ entry.body }}
	</article>
	<div class="col-4 sidebar">
		<h3>Recent News</h3>
		<hr>
		{% for entry in craft.entries.section('news').find() %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</article>
	{% endfor %}
	</div>
		</div>
	</section>
{% endblock %}
