// Ginger Settings
$row-max-width: 73.25rem;
$col-padding: 1rem;
$flex-basis: auto;

// Breakpoint Sizes
$tablet-breakpoint: 64em;
$tablet-vert-breakpoint: 48.125em;
$small-breakpoint: 43em;


// Colors
$charcoal: 	#2a2a2a;
$grey:		#777;

$maroon:	#8C1D40;
$gold:		#FFC627;

